<div id="<%= dom_id opening %>">
  <p>
    <strong><%= Opening.human_attribute_name(:from_at) %>:</strong>
    <%= getDatetime(opening.from_at) %>
  </p>

  <p>
    <strong><%= Opening.human_attribute_name(:to_at) %>:</strong>
    <%= getDatetime(opening.to_at) %>
  </p>
</div>
