<div id="<%= dom_id order %>">
  <td>
    <%= order.opening.name %>
  </td>

  <td>
    <%= order.user.name %>
  </td>

  <td>
    <%= logo_boolean(order.paid) %>
  </td>
  <td>
    <% order.dishes.each do |dish| %>
      <%= dish.name %> <br>
    <% end %>
  </td>
</div>
