<h1><%= t("helpers.titles.list", model: Order.model_name.human.pluralize.mb_chars) %></h1>

<%= link_to icon('fa-solid','plus'), new_order_path, class: 'btn btn-secondary btn-xs' %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= Order.human_attribute_name(:opening) %></th>
        <th><%= Order.human_attribute_name(:user) %></th>
        <th><%= Order.human_attribute_name(:paid) %></th>
        <th><%= Order.human_attribute_name(:dishes) %></th>
        <th><%=t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody id="orders">
      <% @orders.each do |order| %>
        <tr>
          <%= render order %>
          <td>
            <%= link_to icon('fa-solid','eye'), order, class: "btn btn-dark" %>
            <%= link_to icon('fa-solid', 'pencil'), edit_order_path(order), class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
