<div id="<%= dom_id wallet %>">
  <p>
    <strong><%= Wallet.human_attribute_name(:user) %>:</strong>
    <%= wallet.user.name %>
  </p>

  <p>
    <strong><%= Wallet.human_attribute_name(:amount) %>:</strong>
    <%= wallet.in ? "+" : "-" %><%= number_to_currency(wallet.amount) %>
  </p>

</div>
