<div id="<%= dom_id dish %>">
  <p>
    <strong><%= Dish.human_attribute_name(:name) %>:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong><%= Dish.human_attribute_name(:price) %>:</strong>
    <%= number_to_currency(dish.price) %>
  </p>

  <p>
    <strong><%= Dish.human_attribute_name(:type) %>:</strong>
    <%= dish.type.name %>
  </p>
  <% if dish.picture.attached? %>
    <%= image_tag dish.picture, class: "img-fluid" %>
  <% else %>
    <%= handle_none(false) %>
  <% end %>
</div>
